.upload-btn {
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	background-color: rgb(18, 143, 216);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	color: white;
}

.upload-btn:hover {
	cursor: pointer;
	background-color: rgb(11, 104, 158);
}

.analyze-btn {
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	background-color: rgb(209, 18, 216);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	color: black;
	margin-left: 1em;
}

.analyze-btn:hover {
	cursor: pointer;
	background-color: rgb(150, 15, 155);
	color: white;
}

.upload-body {
	background-color: rgba(230, 230, 230, 0.8);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 1em;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 80%;
	padding: 1em;
}

.receipt-image {
	width: 400px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 10px;
}

.update-btn {
	width: 150px;
	height: 50px;
	border-radius: 10px;
	border: none;
	background-color: rgb(79, 199, 255);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	color: white;
	font-size: 16px;
	letter-spacing: 1px;
	margin-left: 1em;
}

.update-btn:hover {
	cursor: pointer;
	background-color: rgb(23, 101, 138);
	color: black;
}

.remove-btn {
	width: 150px;
	height: 50px;
	border-radius: 10px;
	border: none;
	color: white;
	background-color: rgb(255, 29, 29);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	font-size: 16px;
	letter-spacing: 1px;
	margin-left: 1em;
}

.remove-btn:hover {
	cursor: pointer;
	background-color: rgb(172, 36, 36);

	color: black;
}

.image-item__btn-wrapper {
	margin-top: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.loader-container {
	color: #f056e8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #f056e8; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
