.upload-btn {
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	background-color: rgb(18, 143, 216);
	color: white;
}

.upload-btn:hover {
	cursor: pointer;
	background-color: rgb(11, 104, 158);
}

.analyze-btn {
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	background-color: rgb(209, 18, 216);
	color: black;
	margin: 1em;
}

.analyze-btn:hover {
	cursor: pointer;
	background-color: rgb(150, 15, 155);
	color: white;
}

.upload-body {
	background-color: rgba(230, 230, 230, 0.8);
	border-radius: 1em;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50%;
	padding: 1em;
}

.receipt-image {
	width: 400px;
	border-radius: 10px;
}

.update-btn {
	width: 150px;
	height: 50px;
	border-radius: 10px;
	border: none;
	background-color: rgb(79, 199, 255);
	color: white;
	font-size: 16px;
	letter-spacing: 1px;
}

.update-btn:hover {
	cursor: pointer;
	background-color: rgb(23, 101, 138);
	color: black;
}

.remove-btn {
	width: 150px;
	height: 50px;
	border-radius: 10px;
	border: none;
	color: white;
	background-color: rgb(255, 29, 29);
	font-size: 16px;
	letter-spacing: 1px;
}

.remove-btn:hover {
	cursor: pointer;
	background-color: rgb(172, 36, 36);

	color: black;
}

.image-item__btn-wrapper {
	margin-top: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
